$primary-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
$error_color: hsl(0, 100%, 66%);
$neutral1: hsl(0, 0%, 100%);
$neutral2: hsl(270, 3%, 87%);
$neutral3: hsl(279, 6%, 55%);
$neutral4: hsl(278, 68%, 11%);

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin card-size{
    width: 24.83rem;
    height: 13.61rem;
}

@mixin label-input-margin-top-bottom{
    margin-top: 0.4rem;
    margin-bottom: 1.5rem;
}

@mixin media-xl-2560px{
    @media screen and (min-width: 2560px){
        @content;
    }
}

@mixin media-l-1024px{
    @media screen and (max-width: 1024px){
        @content;
    }
}

@mixin media-t-768px{
    @media screen and (max-width: 768px){
        @content;
    }
}

@mixin media-s-426px{
    @media screen and (max-width: 426px){
        @content;
    }
}

@mixin media-xs-376px{
    @media screen and (max-width: 376px){
        @content;
    }
}