@import "config";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Space Grotesk', sans-serif;
}

body{
    @include flex-center;
    min-height: 100vh;
    min-width: 100vw;
    background: url("../images/bg-main-desktop.png") left center / contain no-repeat;
}

main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.half{
    @include flex-center;
    flex-direction: column;
    width: 48%;
    height: 100%;

    #history-menu{
        position: absolute;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        top: 10px;
        left: 10px;

        #unscroll-btn{
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background: transparent;
            border: 2px solid lightgray;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            transition: all 0.5s ease;
            transform: rotate(0deg);
        
            &:hover{
                transform: rotate(90deg);
                cursor: pointer;
                color: $error_color;
                border: 2px solid $error_color;
                div{
                    background: orange;
                }
            }

            div{
                height: 5px;
                width: 50%;
                margin-top: 5.25px;
                background: lightgray;
                border-radius: 2.5px;
            }
        }

        #history-list{
            overflow: hidden;
            list-style-type: none;
            margin-top: 5px;
            
            li{
                visibility: hidden;
                list-style-type: none;
                height: 30px;
                min-width: 100px;
                padding: 0 10px;
                border: 2px solid lightgray;
                margin-top: 5px;
                border-radius: 15px;
                color: lightgray;
                transition: all 0.5s ease;
                transform: translateX(-200%);
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover{
                    cursor: pointer; 
                    color: orange;
                    border: 2px solid $error_color;
                }
            }
        }
    }

    &_card1{
        @include card-size;
        color: $neutral1;
        position: relative;
        background: url("../images/bg-card-front.png") center center/ contain no-repeat;
        margin-bottom: 2rem;

        #card_logo{
            padding-left: 7%;
            padding-top: 5%;
        }

        &_filltext{
            position: absolute;
            width: 86%;

            bottom: 10%;
            left: 7%;
            right: 7%;
            
            p{
                font-size: 2rem;
            }

            &_name-date{
                margin-top: 2rem;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                .card-name{
                    text-align: left;
                    font-size: 0.8rem;
                }
    
                .exp-date{
                    text-align: right;
                    span{
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
    &_card2{
        @include card-size;
        position: relative;
        color: $neutral1;
        background: url("../images/bg-card-back.png") center center/ cover no-repeat;
        margin-left: 8rem;
        
        .cvc{
            position: absolute;
            bottom: 47%;
            right: 13%;
            font-size: 0.8rem;
        }
    }

    &_input{
        @include flex-center;
        width: 100%;
        justify-content: flex-start;
        margin-left: 1rem;
        position: relative;

        input{
            border: 1px solid $neutral2;
            border-radius: 0.4rem;

            &:focus{
                color: #000;
                border: 1px solid $neutral4;
                outline: none;
            }

            &::placeholder{
                color: $neutral2;
            }
        }

        .label-conf{
            font-size: 0.8rem;
            margin-bottom:0;
            font-weight: 600;
            color: #000;
        }

        // input inside config
        #card_holder{
            @include label-input-margin-top-bottom;
            width: 20rem;
            padding: 0.5rem;
        }
        #card_number{
            @include label-input-margin-top-bottom;
            width: 20rem;
            padding: 0.5rem;
        }
        #card_month{
            @include label-input-margin-top-bottom;
            width: 4.4rem;
            padding: 0.5rem;
            margin-right: 0.6rem;
        }
        #card_year{
            @include label-input-margin-top-bottom;
            width: 4.4rem;
            padding: 0.5rem;
        }
        #card_cvc{
            @include label-input-margin-top-bottom;
            width: 9.4rem;
            padding: 0.5rem;
        }
        #confirm{
            width: 20rem;
            padding: 0.5rem;
            color: $neutral1;
            background: #000;
            border: none;
            margin-top: 1rem;
        }

        &_row{
            @include flex-center;
            position: relative;
            align-items: flex-start;
            flex-direction: column;
        }

        &_row2{
            @include flex-center;
            justify-content: space-between;
            
            .date{
                position: relative;
                display: flex;
                flex-direction: column;
                &_inputs{
                    display: flex;
                }
            }
            .cvc{
                display: flex;
                position: relative;
                flex-direction: column;
            }
        }

        .worrning{
            position: absolute;
            color: $error_color;
            font-size: 0.6rem;
            bottom: 15%;
            left: 0;
        }

        .worrning2{
            position: absolute;
            color: $error_color;
            font-size: 0.6rem;
            bottom: 1%;
            left: 0;
        }

        #after-click{
            visibility: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            position: absolute;
            top:0;
            left: 0;
            height: 120%;
            width: 100%;
            background: white;
            div{
                text-align: center;
                img{
                    margin-bottom: 2rem;
                }

                .thanks{
                    font-size: 2rem;
                    margin-bottom: 0.6rem;
                }
                .added{
                    margin-bottom: 1rem;
                }
                #confirm2{
                    width: 20rem;
                    padding: 0.5rem;
                    color: $neutral1;
                    background: #000;
                    border: none;
                    margin-top: 1rem;
                }
            }
        }
    }
}

@import "responsive"

