* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  font-family: "Space Grotesk", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background: url("../images/bg-main-desktop.png") left center/contain no-repeat;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.half {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 48%;
  height: 100%;
}
.half #history-menu {
  position: absolute;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  top: 10px;
  left: 10px;
}
.half #history-menu #unscroll-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.5s ease;
  transform: rotate(0deg);
}
.half #history-menu #unscroll-btn:hover {
  transform: rotate(90deg);
  cursor: pointer;
  color: hsl(0, 100%, 66%);
  border: 2px solid hsl(0, 100%, 66%);
}
.half #history-menu #unscroll-btn:hover div {
  background: orange;
}
.half #history-menu #unscroll-btn div {
  height: 5px;
  width: 50%;
  margin-top: 5.25px;
  background: lightgray;
  border-radius: 2.5px;
}
.half #history-menu #history-list {
  overflow: hidden;
  list-style-type: none;
  margin-top: 5px;
}
.half #history-menu #history-list li {
  visibility: hidden;
  list-style-type: none;
  height: 30px;
  min-width: 100px;
  padding: 0 10px;
  border: 2px solid lightgray;
  margin-top: 5px;
  border-radius: 15px;
  color: lightgray;
  transition: all 0.5s ease;
  transform: translateX(-200%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.half #history-menu #history-list li:hover {
  cursor: pointer;
  color: orange;
  border: 2px solid hsl(0, 100%, 66%);
}
.half_card1 {
  width: 24.83rem;
  height: 13.61rem;
  color: hsl(0, 0%, 100%);
  position: relative;
  background: url("../images/bg-card-front.png") center center/contain no-repeat;
  margin-bottom: 2rem;
}
.half_card1 #card_logo {
  padding-left: 7%;
  padding-top: 5%;
}
.half_card1_filltext {
  position: absolute;
  width: 86%;
  bottom: 10%;
  left: 7%;
  right: 7%;
}
.half_card1_filltext p {
  font-size: 2rem;
}
.half_card1_filltext_name-date {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.half_card1_filltext_name-date .card-name {
  text-align: left;
  font-size: 0.8rem;
}
.half_card1_filltext_name-date .exp-date {
  text-align: right;
}
.half_card1_filltext_name-date .exp-date span {
  font-size: 0.8rem;
}
.half_card2 {
  width: 24.83rem;
  height: 13.61rem;
  position: relative;
  color: hsl(0, 0%, 100%);
  background: url("../images/bg-card-back.png") center center/cover no-repeat;
  margin-left: 8rem;
}
.half_card2 .cvc {
  position: absolute;
  bottom: 47%;
  right: 13%;
  font-size: 0.8rem;
}
.half_input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  margin-left: 1rem;
  position: relative;
}
.half_input input {
  border: 1px solid hsl(270, 3%, 87%);
  border-radius: 0.4rem;
}
.half_input input:focus {
  color: #000;
  border: 1px solid hsl(278, 68%, 11%);
  outline: none;
}
.half_input input::-moz-placeholder {
  color: hsl(270, 3%, 87%);
}
.half_input input::placeholder {
  color: hsl(270, 3%, 87%);
}
.half_input .label-conf {
  font-size: 0.8rem;
  margin-bottom: 0;
  font-weight: 600;
  color: #000;
}
.half_input #card_holder {
  margin-top: 0.4rem;
  margin-bottom: 1.5rem;
  width: 20rem;
  padding: 0.5rem;
}
.half_input #card_number {
  margin-top: 0.4rem;
  margin-bottom: 1.5rem;
  width: 20rem;
  padding: 0.5rem;
}
.half_input #card_month {
  margin-top: 0.4rem;
  margin-bottom: 1.5rem;
  width: 4.4rem;
  padding: 0.5rem;
  margin-right: 0.6rem;
}
.half_input #card_year {
  margin-top: 0.4rem;
  margin-bottom: 1.5rem;
  width: 4.4rem;
  padding: 0.5rem;
}
.half_input #card_cvc {
  margin-top: 0.4rem;
  margin-bottom: 1.5rem;
  width: 9.4rem;
  padding: 0.5rem;
}
.half_input #confirm {
  width: 20rem;
  padding: 0.5rem;
  color: hsl(0, 0%, 100%);
  background: #000;
  border: none;
  margin-top: 1rem;
}
.half_input_row {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.half_input_row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.half_input_row2 .date {
  position: relative;
  display: flex;
  flex-direction: column;
}
.half_input_row2 .date_inputs {
  display: flex;
}
.half_input_row2 .cvc {
  display: flex;
  position: relative;
  flex-direction: column;
}
.half_input .worrning {
  position: absolute;
  color: hsl(0, 100%, 66%);
  font-size: 0.6rem;
  bottom: 15%;
  left: 0;
}
.half_input .worrning2 {
  position: absolute;
  color: hsl(0, 100%, 66%);
  font-size: 0.6rem;
  bottom: 1%;
  left: 0;
}
.half_input #after-click {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  height: 120%;
  width: 100%;
  background: white;
}
.half_input #after-click div {
  text-align: center;
}
.half_input #after-click div img {
  margin-bottom: 2rem;
}
.half_input #after-click div .thanks {
  font-size: 2rem;
  margin-bottom: 0.6rem;
}
.half_input #after-click div .added {
  margin-bottom: 1rem;
}
.half_input #after-click div #confirm2 {
  width: 20rem;
  padding: 0.5rem;
  color: hsl(0, 0%, 100%);
  background: #000;
  border: none;
  margin-top: 1rem;
}

@media screen and (min-width: 2560px) {
  * {
    font-size: 34px;
  }
  .half_input {
    justify-content: flex-start;
  }
  .half_card1 #card_logo {
    height: 25%;
  }
  .half #after-click div img {
    height: 25%;
  }
}
@media screen and (max-width: 1024px) {
  * {
    font-size: 16px;
  }
  .half_card1 #card_logo {
    height: 25%;
  }
  .half_input {
    justify-content: center;
    margin: 0;
    margin-right: 3rem;
  }
  .half #after-click {
    width: 100%;
    margin: 0;
    margin-left: 4rem;
  }
  .half #after-click div img {
    height: 25%;
  }
}
@media screen and (max-width: 768px) {
  * {
    font-size: 20px;
  }
  body {
    background: url("../images/bg-main-mobile.png") top/contain no-repeat;
  }
  main {
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
  }
  section:first-child {
    margin-bottom: 50px;
  }
  .half {
    position: relative;
    width: 100%;
  }
  .half:first-child {
    height: 50vh;
  }
  .half #history-menu {
    z-index: 3;
  }
  .half_card1 {
    position: absolute;
    top: 50%;
    margin-right: 4.5rem;
    z-index: 2;
  }
  .half_card2 {
    margin-left: 4.5rem;
    margin-bottom: 4.5rem;
    z-index: 1;
  }
  .half_input {
    margin: 0;
  }
  .half #after-click {
    width: 100%;
    margin: 0;
    align-items: center;
  }
  .half #after-click div img {
    height: 25%;
  }
}
@media screen and (max-width: 426px) {
  * {
    font-size: 18px;
  }
  body {
    background: url("../images/bg-main-mobile.png") top center/100% auto no-repeat;
  }
  .half:first-child {
    justify-content: flex-start;
  }
  .half_card1 {
    width: 18.05rem;
    height: 9.89rem;
    margin-left: 2rem;
    top: 40%;
  }
  .half_card1 #card_logo {
    height: 25%;
  }
  .half_card1_filltext p {
    font-size: 1.5rem;
  }
  .half_card1_filltext_name-date .card-name {
    font-size: 0.8rem;
  }
  .half_card1_filltext_name-date .exp-date span {
    font-size: 0.8rem;
  }
  .half_card2 {
    width: 18.05rem;
    height: 9.89rem;
    margin-right: 2rem;
    margin-top: 2rem;
  }
  .half #history-menu #history-list li {
    background: gray;
  }
}
@media screen and (max-width: 376px) {
  .half_card1 {
    width: 15rem;
    height: 8.22rem;
  }
  .half_card1 #card_logo {
    height: 25%;
  }
  .half_card1_filltext p {
    font-size: 1.2rem;
  }
  .half_card1_filltext_name-date .card-name {
    font-size: 0.8rem;
  }
  .half_card1_filltext_name-date .exp-date span {
    font-size: 0.8rem;
  }
  .half_card2 {
    width: 15rem;
    height: 8.22rem;
    margin-top: 1rem;
  }
  .half_input {
    margin: 0 2.5rem;
    padding: 0 2.5rem;
  }
  .half_input #card_holder {
    width: 17rem;
  }
  .half_input #card_number {
    width: 17rem;
  }
  .half_input #card_month {
    width: 3.3rem;
  }
  .half_input #card_year {
    width: 3.3rem;
  }
  .half_input #card_cvc {
    width: 7.05rem;
  }
  .half_input #confirm {
    width: 17rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .half #after-click div #confirm2 {
    width: 17rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}/*# sourceMappingURL=main.css.map */